@import '../App.scss';

.landingpage {
    height: 100vh;

    &__box {
        margin-top: 20rem;
        text-align: center;
    }

    &__header {
        color: $color-white;
        font-size: 8rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__line {
        height: 1rem;
        width: 70vw;
        background-color: $color-white;
        margin: 0 auto 2rem auto;
    }

    &__text {
        color: $color-white;
        font-size: 4rem;
        margin-bottom: 1rem;
        font-style: italic;
        font-weight: 300;
    }

    &__icon {
        height: 20rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}