@import '../App.scss';

.landingpage {
    min-height: 100vh;
    background-color: $color-grey-primary;

    &__box {
        margin-top: 15rem;
        text-align: center;
    }

    &__header {
        color: $color-white;
        font-size: 8rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__line {
        height: 1rem;
        width: 70vw;
        background-color: $color-yellow-primary;
        margin: 0 auto 2rem auto;
    }

    &__text {
        color: $color-white;
        font-size: 4rem;
        margin-bottom: 1rem;
        font-style: italic;
        font-weight: 300;
    }

    &__images {
        width: 80%;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 4rem auto 0 auto;
    }

    &__dotes {
        color: $color-yellow-primary;
        font-size: 6rem;
    }

    &__icon {
        height: 20rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}