@import '../../App.scss';
@import '../../Animations/Animations.scss';
@import '../../FormsStyles/Buttons.scss';

.notes {
    background-color: $color-grey-light-1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &__no-notes {
        background-color: $color-grey-light-1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    &__header {
        color: $color-white;
        background-color: $color-grey-dark-2;
        width: 100%;
        height: 5rem;
        font-size: 4rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    &__paragraph {
        text-align: center;
    }
    &__btn {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    &__content {
        height: 30rem;
        width: 100%;
        overflow-y: scroll; // scroll in Y direction
    }
}

::-webkit-scrollbar {
    width: 0px;
    background-color: $color-grey-dark-2;
}

.notelist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
    &__item {
        background-color: $color-white;
        width: 40rem;
        min-height: 15rem;
        margin-bottom: 2rem;
        word-wrap: break-word;
    }

    &__header {
        color: $color-white;
        background-color: $color-grey-dark-2;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 2.4rem;
    }

    &__content {
        background-color: $color-white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: $font-secondary;
        line-height: 2rem;
    }

    &__text {
        width: 38rem;
        padding: 1rem;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        white-space: pre-line; // it will do the linebreaks when the text is load from the database
    }

    &__box {
        display: flex;
    }
}

.popup-content {
    margin: auto;
    background-color: $color-grey-dark-2;
    width: 50%;
    padding: 5px;
    
  }
  .popup-arrow {
    color: $color-grey-dark-2;
  }
  [role='tooltip'].popup-content {
    width: inherit;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }


.popup {
    &__form {
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__input {
        height: 3rem;
        outline: none;
        font-size: 1.5rem;
        font-family: $font-secondary;
    }
    &__textarea {
        height: 12rem;
        width: 100%;
        outline: none;
        font-family: $font-secondary;
    }

    &__btn {
      margin-top: 1rem;
    }
}