@import '../../App.scss';

.login {
    min-height: 92vh;
    width: 100vw;
    background-color: $color-grey-primary;
    padding-top: 10rem;

    &__form {
        margin: 0 auto 0 auto;
    }

    &__recaptcha {
        margin-top: 2rem;
    }
}
