@import '../App.scss';

.btn__primary {
    height: 3rem;
    width: 8rem;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    outline: none;
    &-white {
        background-color: $color-white;
    }
    &-red {
        background-color: $color-red;
    }
    &:hover {
        transition: all .2s;
        transform: scale(1.05);
        box-shadow: 2px 5px 6px $color-grey-dark-1;
        cursor: pointer;
    }
}

.btn__big {
    color: $color-white;
    height: 4rem;
    width: 15rem;
    font-size: 1.6rem;
    font-weight: 800;
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 10rem;
    &-grey {
        background-color: $color-grey-dark-2;
    }
    &:hover {
        transition: all .2s;
        transform: scale(1.05);
        box-shadow: 2px 5px 6px $color-grey-dark-1;
        cursor: pointer;
    }
}

.btn__circle {
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
    border: none;
    font-size: 3rem;
    outline: none;
    &-grey {
        color: $color-white;
        background-color: $color-grey-dark-2;
    }

    &:hover {
        transition: all .2s;
        transform: scale(1.05);
        cursor: pointer;
    }

}

.btn__small-circle {
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    border: none;
    color: $color-black;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: inherit;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}