@import '../../App.scss';

.verifyemail {
    height: 92vh;
    background-color: $color-grey-primary;

    &__box {
        text-align: center;
        padding-top: 27rem;
        color: $color-white;
    }

    &__header {
        font-size: 6rem;
    }

    &__icon {
        height: 10rem;
    }

    &__text {
        font-size: 3rem;
    }

    &__link  {
        font-size: 3rem;
        color: $color-yellow-primary;
    }
}