@import '../../App.scss';


.weather {
    position: relative;
    background-color: $color-grey-primary;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $color-white;
    &__town {
        font-size: 4rem;

    }
    &__icon {
        height: 10rem;
    }

    &__temperature {
        font-size: 3.5rem;
        &-blue {
            color: $color-blue-1;
        }

        &-orange {
            color: $color-orange;
        }
    }

    &__windspeed {
        font-size: 2rem;
    }
    &__pressure {
        font-size: 2rem;
    }

    &__refresh {
        position: absolute;
        top: 2rem;
        right: 3rem;
        margin-left: 25rem;
    }
}