@import '../App.scss';

/////////// NEW

.btn__yellow-logout {
    color: $color-black;
    padding: .5rem;
    height: 4.5rem;
    width: 16rem;
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inherit;
    background-color: $color-yellow-primary;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: all .2s;
    text-decoration: none;
    &:hover {
        transform: translateX(-1rem);
        cursor: pointer;
    }
}

.btn__yellow-huge {
    color: $color-black;
    padding: 3rem;
    height: 15rem;
    width: 50rem;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: inherit;
    background-color: $color-yellow-primary;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all .2s;
    text-decoration: none;
    text-align: center;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}


.btn__yellow-medium {
    color: $color-black;
    padding: .5rem;
    height: 4.5rem;
    width: 12rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inherit;
    background-color: $color-yellow-primary;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: all .2s;
    text-decoration: none;
    text-align: center;
    margin: 2rem;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.btn__add {
    height: 4rem;
    width: 4rem;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;
    background-color: $color-yellow-primary;
    border: none;
    transition: all .1s;
    outline: none;
    font-weight: 900;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}



.btn__add-big {
    height: 4rem;
    width: 16rem;
    font-size: 1.6rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;
    background-color: $color-yellow-primary;
    border: none;
    transition: all .3s;
    outline: none;
    text-transform: uppercase;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.btn__delete-big {
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: $color-black;
    background-color: $color-yellow-primary;
    border: none;
    outline: none;
    transition: all .2s;
    &:hover {
        cursor: pointer;
        font-size: 4.5rem;
    }
}


.btn__delete-small {
    height: 100%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: $color-black;
    background-color: $color-yellow-primary;
    border: none;
    outline: none;
    transition: all .2s;
    &:hover {
        cursor: pointer;
        font-size: 1.8rem;
    }
}

.btn__responsive-red {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    font-weight: 900;
    color: $color-black;
    background-color: $color-red;
    border: none;
    outline: none;
    transition: all .2s;
    &:hover {
        cursor: pointer;
        background-color: lighten($color-red, 10%);
    }
}

.btn__responsive-yellow {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    font-weight: 900;
    color: $color-black;
    background-color: $color-yellow-primary;
    border: none;
    outline: none;
    transition: all .2s;
    &:hover {
        cursor: pointer;
        background-color: lighten($color-yellow-primary, 20%);
    }
}

.btn__add-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: $color-yellow-primary;
    columns: $color-black;
    border: none;
    outline: none;
    transition: all .2s;
    margin: 0.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.5rem;
    max-width: 16rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.btn__delete-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: $color-red;
    color: $color-black;
    border: none;
    outline: none;
    transition: all .2s;
    margin: 0.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.5rem;
    max-width: 16rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.btn__red-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: $color-red;
    color: $color-black;
    border: none;
    outline: none;
    transition: all .2s;
    margin: 0.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.5rem;
    min-width: 14rem;
    min-height: 5rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.btn__green-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: $color-green-dark-1;
    color: $color-black;
    border: none;
    outline: none;
    transition: all .2s;
    margin: 0.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.5rem;
    min-width: 14rem;
    min-height: 5rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.btn__refresh-small {
    height: 3.5rem;
    width: 3.5rem;
    background-color: inherit;
    border: none;
    outline: none;

    &>img {
        height: 3rem;
        width: 3rem;
        &:hover {
            animation: spin 2s linear infinite;
            cursor: pointer;
        }
    }
}


@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}