@import '../../App.scss';

.links {
    height: 100%;
    background-color: $color-grey-primary;
    padding: 1rem;

    &__no {
        height: 100%;
        font-size: 3rem;
        color: $color-yellow-primary;   
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__add-btn {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: 1rem;
    }
}

.categorylist {
    height: 85%;
    overflow-y: scroll;
    &__item {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        &-box {
            width: 14rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            word-wrap: break-word;
            border: 2px solid $color-yellow-primary;
        }

        &-header {
            font-size: 1.8rem;
            color: $color-white;
            text-align: center;
            width: 80%;
        }
    }
}

.links__popup-addcategory {
    height: 100%;
    width: 100%;
    padding: auto;
    &--form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 8rem;
    }
}

  

