@import '../../App.scss';

.linkslist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 1rem;
  margin-left: 2rem;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 90rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    min-width: 10rem;
    max-width: 40rem;
    margin: .5rem;
    border: 2px solid $color-yellow-primary;
    overflow: hidden;

    &-link {
      text-decoration: none;
      font-size: 1.6rem;
      color: $color-black;
      font-weight: 700;
      margin: auto auto auto 0.5rem;
      max-width: 36rem;
      padding-right: .2rem;
    }
  }
}

.linkslist__popup-addlink {
  height: 100%;
  &--form {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}


